@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('fonts/HelveticaNeueLTStd-Lt.eot');
    src: url('fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'HelveticaWorld';
    src: url('fonts/HelveticaWorld-Regular.eot');
    src: url('fonts/HelveticaWorld-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaWorld-Regular.ttf') format('truetype'),
         url('fonts/HelveticaWorld-Regular.woff') format('woff'),
         url('fonts/HelveticaWorld-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'HelveticaWorld';
    src: url('fonts/HelveticaWorld-Bold.eot');
    src: url('fonts/HelveticaWorld-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaWorld-Bold.ttf') format('truetype'),
         url('fonts/HelveticaWorld-Bold.woff') format('woff'),
         url('fonts/HelveticaWorld-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lunapolis';
    src: url('fonts/11420.eot');
    src: url('fonts/11420.eot?#iefix') format('embedded-opentype'),
         url('fonts/11420.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Lunapolis';
    src: url('fonts/Lunapolis.ttf') format('truetype'),
         url('fonts/Lunapolis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

.container {
    width: 1410px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.address {
    width: 100%;
    height: 67px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address__phone, 
.address__email {
    font-family: "HelveticaWorld", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #989898;
    letter-spacing: 1.05px;
    display: block;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
    margin-left: 1.9%;   
}

.address__icons {
    margin: 0 9px;
    position: relative;
    top: 2px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__icon {
    position: absolute;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__li {
    padding: 64px 40px;
    box-sizing: border-box;
}

.menu__li_logo,
.menu__li_cart {
    padding: 0px 40px;
}

.menu__li_logo:hover {
    opacity: 0.7;
}

.menu__li_cart:hover {
    opacity: 0.4;
}

.menu__li1 {
    position: relative;
}

.menu__li1:after {
    content: ' ';
    width: 1px;
    height: 77px;
    position: absolute;
    top: 50%;
    margin: -38px 0px 0px 0px;
    right: 0;
    background-color: #e5e5e5;
}

.menu__link {
    color: #000000;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

.menu__link:hover {
    color: #989898;
}

.cart__sum {
    color: #939393;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    position: relative;
    bottom: 5px;
    left: 9px;
}

.main-screen {
    overflow: hidden;
    flex-grow: 1;
    background-image: url(img/фон_1_экрана.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.catalog {
    background-image: url(img/fon2.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.ring {
    position: absolute;
    bottom: -96px;
    left: 3%;
    z-index: 10;
}

.main__headding {
    text-align: center;
    color: #212121;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.4px;
    padding-top: 74px;
    position: relative;
}

.main__headding:after {
    content: ' ';
    width: 32px;
    height: 17px;
    background-image: url(img/корона.png);
    z-index: 10;
    background-color: transparent;
    position: absolute;
    right: 49%;
    top: 36px;  
}

.preferences-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 51px 0;  
}

.preferences__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preferences__10 {
    font-family: "HelveticaNeueLTStd-Lt", sans-serif;
    font-size: 77px;
    font-weight: 200 ;
    line-height: 77px;
    color: #dbb972;
    letter-spacing: 3.85px;
    text-align: center;
}

.preferences__text {
    text-align: center;
    color: #212121;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 1.1px;
    margin-top: 11px;
}

.preferences__text_money {
    margin-top: 18px;   
}

.preferences__text_truck {
    margin-top: 24px;   
}

.preferences__text_10 {
    margin-top: 22px;
}

.about-us {
    background-color: #f1f3f5;;
}

.about-us-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-us__item {
    width: 45%;

}

.about-us__img {
    margin-top: 31px;
}

.about-us__heading {
    color: #212121;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 18px;
    margin-top: 16px;
}

.about-us__text {
    color: #676767;
    font-family: "HelveticaWorld", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-top: 32px;
}

.certificate-wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
}

.certificate__item {
    padding: 0 0 142.1487% 0;
    margin-top: 32px;
    position: relative;
}

.certificate__img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}