@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('fonts/HelveticaNeueCyr-Light.eot');
    src: url('fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLT Std Lt';
    src: url('fonts/HelveticaNeueLTStd-Ex.eot');
    src: url('fonts/HelveticaNeueLTStd-Ex.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Ex.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Ex.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Ex.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}   

@font-face {
    font-family: 'HelveticaWorld';
    src: url('fonts/HelveticaWorld-Regular.eot');
    src: url('fonts/HelveticaWorld-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaWorld-Regular.ttf') format('truetype'),
         url('fonts/HelveticaWorld-Regular.woff') format('woff'),
         url('fonts/HelveticaWorld-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: 'HelveticaWorld';
    src: url('fonts/HelveticaWorld-Bold.eot');
    src: url('fonts/HelveticaWorld-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaWorld-Bold.ttf') format('truetype'),
         url('fonts/HelveticaWorld-Bold.woff') format('woff'),
         url('fonts/HelveticaWorld-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lunapolis';
    src: url('fonts/11420.eot');
    src: url('fonts/11420.eot?#iefix') format('embedded-opentype'),
         url('fonts/11420.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Lunapolis';
    src: url('fonts/Lunapolis.ttf') format('truetype'),
         url('fonts/Lunapolis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1381px;
    padding: 0 15px;
}